[Unit]
Description=Blynk Service
After=network.target

[Service]
User=pi
WorkingDirectory=/home/pi/wanapi
ExecStart=/usr/bin/node /home/pi/live/index.js 
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target

