[Unit]
Description=Youtube Live stop streaming
Requires=network.target
After=startmessage

[Service]
ExecStart=/home/pi/live/file-c270.sh
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target

