[Unit]
Description=Youtube Live stop streaming
Requires=network.target
After=startmessage

[Service]
ExecStart=/home/pi/live/stoptube.sh

[Install]
WantedBy=multi-user.target

