[Unit]
Description=Direction/Distance Monitor heading.py
Wants=network.target

[Service]
ExecStart=/home/pi/live/heading.py
OnBootSec=10sec
Restart=always
RestartSec=1s

[Install]
WantedBy=multi-user.target

