[Unit]
Description=OLED Monitor monitor.py
Wants=network.target

[Service]
ExecStart=/home/pi/live/monitor.py
OnBootSec=10sec
Restart=always
RestartSec=1s

[Install]
WantedBy=multi-user.target

