[Unit]
Description=OLED Monitor monitor.py
Wants=network.target

[Service]
User=pi
ExecStart=/usr/bin/python3 /home/pi/live/monitor.py
OnBootSec=15sec
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target

