[Unit]
Description=Decode Address from lnglat.txt
Wants=network.target

[Service]
ExecStart=/usr/bin/python3 /home/pi/live/mylocation.py
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target

