[Unit]
Description=Temperature/Humidity sensors temphum.py
Wants=network.target

[Service]
ExecStart=/home/pi/live/temphum.py
Restart=always
RestartSec=1s

[Install]
WantedBy=multi-user.target

