[Unit]
Description=Youtube Live youtube-c270.sh
Requires=network.target
After=startmessage

[Service]
ExecStart=/home/pi/live/youtube-c270.sh
Restart=always
RestartSec=12

[Install]
WantedBy=multi-user.target

